{% extends 'main/base.html' %}
{% block title %}To Do List{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Initiate Direct Message</h1>
<form method="post">
    {% csrf_token %}
    <label for="recipient">Select a user to message:</label>
    <select name="recipient" id="recipient">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <button type="submit">Message</button>
</form>
{% endblock %}