{% extends 'main/base.html' %}
{% block title %}To Do List{% endblock %}
{% block content %}
<table style="width:100%">
    <tr>
      <th>Item</th>
      <th>Due Date</th>
      <th></th>
    </tr>
    {% for todo in toDoItems %}
    <tr>
      <td>{{todo.task}}</td>
      <td>{{todo.dueDate}}</td>
      <td>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="delete-form">
            <button type="submit" class="btn btn-danger" name="todo-id" value="{{todo.id}}">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}