asgiref==3.7.2
certifi==2023.7.22
crispy-bootstrap5==0.7
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.6
django-crispy-forms==2.0
filelock==3.13.1
fonttools==4.42.1
gunicorn==22.0.0
neat-python==0.92
packaging==23.1
psycopg==3.1.12
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.0.4
virtualenv==20.24.6
